<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="FitnessApp" connectionString="data source=10.10.10.207;initial catalog=FitnessApp;persist security info=True;user id=sa;password=Bennytan1!;Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=True;" />
	</connectionStrings>
</configuration>