@page "/account"
@using Blazored.LocalStorage;
@inject Session Sesssion
@inject UserService UserService
@inject FavoriteExerciseService FavoriteExerciseService
@inject ILogger<AccountPage> Logger

<PageTitle>Account</PageTitle>

@if (_user != null)
{
    <h3 class="my-4">Your Account</h3>

    <p>Username: @_user.UserName</p>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Exercise Name</th>
                <th>Max Weight Used</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exercise in _user.FavoriteExercises)
            {
                <tr>
                    <td>@exercise.ExerciseDescription.Name</td>
                    <td>@exercise.ExerciseDescription.MaxWeightUsed</td>
                </tr>
            }
        </tbody>
    </table>


    <button type="button" class="btn btn-danger" @onclick="Logout">Logout</button>
}
else
{
    <h3 class="my-4">Please Login</h3>
}